[submodule "mobile_app"]
	path = mobile_app
	url = https://github.com/yasushisakai/hansel.git
[submodule "solver"]
	path = solver
	url = https://github.com/tkawahar/LaneDetect.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/yasushisakai/LaneDetection.wiki.git
[submodule "map"]
	path = map
	url = https://github.com/yasushisakai/LaneDetectionMap.git
