[submodule "mobile_app"]
	path = mobile_app
	url = git@github.com:yasushisakai/hansel
[submodule "solver"]
	path = solver
	url = git@github.com:tkawahar/LaneDetect.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:yasushisakai/LaneDetection.wiki.git
